"*":
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Myrica M"
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "6f7b3b0e-bf39-46d9-95ce-d6fd2384407c"
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
