"*":
  "atom-beautify":
    python:
      beautify_on_save: true
      sort_imports: true
  "autocomplete-paths":
    scopes: []
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.aux"
      "*.bbl"
      "*.blg"
      "*.fdb_latexmk"
      "*.fff"
      "*.fls"
      "*.synctex.gz"
      "*.ttt"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Myrica M"
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "6f7b3b0e-bf39-46d9-95ce-d6fd2384407c"
  latex:
    engine: "platex"
  "linter-ui-default":
    statusBarRepresents: "Current File"
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
  minimap: {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".gfm.source":
  editor:
    tabLength: 4
