# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.text.tex.latex':
  'jikken template':
    'prefix': 'jikken'
    'body': """
% \\\\documentclass[a4j]{jarticle}
\\\\documentclass[a4j,draft]{jarticle}
\\\\usepackage[dvipdfmx]{graphicx}
\\\\usepackage{bm}
\\\\usepackage{amsmath}
\\\\usepackage{nccmath}
\\\\usepackage{subfigure}
\\\\makeatletter
\\\\newcommand{\\\\figcaption}[1]{\\\\def\\\\@captype{figure}\\\\caption{#1}}
\\\\newcommand{\\\\tblcaption}[1]{\\\\def\\\\@captype{table}\\\\caption{#1}}
\\\\makeatother
\\\\newcommand{\\\\diff}{\\\\mathrm{d}}
%
\\\\begin{document}
%
\\\\section{目的}
%



%
%
%%%%%%%%%%%%%%%%%%%%
%
\\\\section{原理}
%



%
%
%%%%%%%%%%%%%%%%%%%%
%
\\\\section{方法}
%



%
%
%%%%%%%%%%%%%%%%%%%%
%
\\\\section{使用機器}
%



%
%
%%%%%%%%%%%%%%%%%%%%
%
\\\\section{実験結果}
%



%
%
%%%%%%%%%%%%%%%%%%%%
%
\\\\section{考察}
%



%
%
%%%%%%%%%%%%%%%%%%%%
%
%
\\\\begin{flushright}
以上
\\\\end{flushright}
%
%
\\\\end{document}
%

% \\\\begin{figure}[tb]
%   \\\\begin{center}
%     \\\\includegraphics[height=5cm]{white.png}
%     \\\\caption{white}
%     \\\\label{fig:white}
%   \\\\end{center}
% \\\\end{figure}

% \\\\begin{figure}[tb]
%   \\\\begin{minipage}{.48\\\\textwidth}
%     \\\\begin{center}
%       \\\\includegraphics[width=7cm]{white.png}
%       \\\\caption{white}
%       \\\\label{fig:white}
%     \\\\end{center}
%   \\\\end{minipage}
%   \\\\hfill
%   \\\\begin{minipage}{.48\\\\textwidth}
%     \\\\begin{center}
%       \\\\includegraphics[width=7cm]{white.png}
%       \\\\caption{white}
%       \\\\label{fig:white}
%     \\\\end{center}
%   \\\\end{minipage}
% \\\\end{figure}

% \\\\begin{table}[b]
%   \\\\begin{center}
%     \\\\caption{white}
%     \\\\label{tab:white}
%     \\\\begin{tabular}{|r|r|r|}
%       \\\\hline
%       電圧(V) & 電流(mA) & 抵抗値($ \\\\U{MO} $) \\\\\\\\ \\\\hline
%       17.98 & 0.001 & 17980 \\\\\\\\ \\\\hline
%       -17.98 & -0.001 & 17980 \\\\\\\\ \\\\hline
%     \\\\end{tabular}
%   \\\\end{center}
% \\\\end{table}
"""
  'listings template':
    'prefix': 'listings'
    'body': """
\\\\documentclass[a4j]{jarticle}
% \\\\documentclass[a4j,draft]{jarticle}
\\\\usepackage[dvipdfmx]{graphicx}
\\\\usepackage{bm}
\\\\usepackage{amsmath}
\\\\usepackage{nccmath}
\\\\usepackage{subfigure}
\\\\usepackage{listings,jlisting,sourcecodepro}
\\\\usepackage[dvipdfmx]{xcolor}
\\\\definecolor{darkGray}{rgb}{0.4,0.4,0.4}
\\\\lstset{%
language={},
% language={c++},
% language={python},
basicstyle={\\\\footnotesize\\\\ttfamily},%
identifierstyle={\\\\footnotesize},%
commentstyle={\\\\footnotesize\\\\color{darkGray}},%
keywordstyle={\\\\footnotesize\\\\bfseries},%
ndkeywordstyle={\\\\footnotesize},%
stringstyle={\\\\footnotesize\\\\ttfamily},
frame={tb},
breaklines=true,
%  columns=[l]{fullflexible},%
numbers=left,%
xrightmargin=0zw,%
xleftmargin=3zw,%
numberstyle={\\\\scriptsize},%
stepnumber=1,
numbersep=1zw,%
lineskip=-0.5ex,%
showstringspaces=false%
}
\\\\renewcommand{\\\\lstlistingname}{コード}
\\\\DeclareFontShape{JT1}{mc}{b}{n}{<5> <6> <7> <8> <9> <10> sgen*tmin
  <10.95><12><14.4><17.28><20.74><24.88> tmin10
  <-> tmin10}{}
\\\\DeclareFontShape{JY1}{mc}{b}{n}{<5> <6> <7> <8> <9> <10> sgen*min
  <10.95><12><14.4><17.28><20.74><24.88> min10
  <-> min10}{}
\\\\makeatletter
\\\\newcommand{\\\\figcaption}[1]{\\\\def\\\\@captype{figure}\\\\caption{#1}}
\\\\newcommand{\\\\tblcaption}[1]{\\\\def\\\\@captype{table}\\\\caption{#1}}
\\\\makeatother
\\\\newcommand{\\\\diff}{\\\\mathrm{d}}

\\\\title{Title}
\\\\author{Your Name}
%
\\\\begin{document}
%
\\\\maketitle
%
\\\\section*{課題1}
%
\\\\subsection*{アルゴリズム}
%


%
%
\\\\subsection*{プログラム}
%
\\\\begin{itemize}
  \\\\item ファイル名~

  \\\\verb|k1.cpp| （コード\\\\ref{k1}）

  \\\\item 実行方法~
  \\\\lstinputlisting{process_k1.txt}
\\\\end{itemize}

各関数の機能、呼び出し方法等についてはソースコード中にコメントとして記した。
%
%
\\\\subsection*{結果}
%


%
%
\\\\subsection*{考察}
%


%
%
\\\\subsection*{付録}
%
\\\\lstinputlisting[caption=\\\\texttt{k1.cpp},label=k1]{}
\\\\lstinputlisting[caption=\\\\texttt{k1 の実行結果 (out\\\\_k1.log)},label=out_k1]{}
%
%
%%%%%%%%%%%%%%%%%%%%
%
\\\\begin{thebibliography}{9}
\\\\end{thebibliography}
%
%
\\\\begin{flushright}
以上
\\\\end{flushright}
%
%
\\\\end{document}
%

% \\\\begin{figure}[tb]
%   \\\\begin{center}
%     \\\\includegraphics[height=5cm]{white.png}
%     \\\\caption{white}
%     \\\\label{fig:white}
%   \\\\end{center}
% \\\\end{figure}

% \\\\begin{figure}[tb]
%   \\\\begin{minipage}{.48\\\\textwidth}
%     \\\\begin{center}
%       \\\\includegraphics[width=7cm]{white.png}
%       \\\\caption{white}
%       \\\\label{fig:white}
%     \\\\end{center}
%   \\\\end{minipage}
%   \\\\hfill
%   \\\\begin{minipage}{.48\\\\textwidth}
%     \\\\begin{center}
%       \\\\includegraphics[width=7cm]{white.png}
%       \\\\caption{white}
%       \\\\label{fig:white}
%     \\\\end{center}
%   \\\\end{minipage}
% \\\\end{figure}

% \\\\begin{table}[b]
%   \\\\begin{center}
%     \\\\caption{white}
%     \\\\label{tab:white}
%     \\\\begin{tabular}{|r|r|r|}
%       \\\\hline
%       電圧(V) & 電流(mA) & 抵抗値($ \\\\U{MO} $) \\\\\\\\ \\\\hline
%       17.98 & 0.001 & 17980 \\\\\\\\ \\\\hline
%       -17.98 & -0.001 & 17980 \\\\\\\\ \\\\hline
%     \\\\end{tabular}
%   \\\\end{center}
% \\\\end{table}
"""
