---
- hosts: localhost
  connection: local
  become: no

  tasks:
    - name: Update homebrew itself first
      homebrew:
        update_homebrew: yes

    - name: Install fundamental brew packages first
      homebrew:
        name:
          - nvim
          - tmux
          - zsh
        state: present

    - name: Install fundamental brew cask packages first
      homebrew_cask:
        name:
          - ghostty
          - google-chrome
          - google-drive
          - google-japanese-ime
          - istat-menus
          - raycast
          - visual-studio-code
        state: present

    - name: Install homebrew packages using homebrew-bundle
      shell: brew bundle 2>&1 | tee logs/brew_bundle.log

    - name: Create local bin dir
      file:
        path: /Users/{{ ansible_user_id }}/.local/bin
        state: directory

  handlers:
    - name: Run fc-cache
      shell: fc-cache -vf
